* {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins';
}

.parametros-box {
    display: flex;
    flex-direction: column;
    height: 100rem;
    background-color: rgb(240, 240, 240);
 
    opacity: 0.8;
    background-image: linear-gradient(135deg, #e0e0e0 25%, transparent 25%), linear-gradient(225deg, #e9e9e9 25%, transparent 25%), linear-gradient(45deg, #e4e4e4 25%, transparent 25%), linear-gradient(315deg, #ebebeb 25%, #f1f1f1 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
}

.box-input {
    margin: 0 auto;
    padding: 30px;
    text-align: center;

}

.box-table {
    margin: 0px auto;
    text-align: center;
}

h1 {
    padding: 5px;
    text-transform: uppercase;
    font-size: 25px;
}

h2 {
    padding: 20px 5px;
    text-transform: uppercase;
    font-size: 15px;
}

table {
    box-shadow: 3px 3px 5px grey;
    background-color: rgb(247, 247, 247);
}

th {
    box-shadow: 0px 1px 1px rgb(201, 201, 201);
    padding: 5px;
}

td {
    min-width: 110px;
    text-align: center;
    padding: 10px;
}

input {
    padding: 5px
}

button {
    padding: 5px;
    box-shadow: 1px 1px 3px grey;
    background-color: rgb(247, 247, 247);
    border: 0.5px solid grey;
}

button:hover {
    transform: scale(1.095);
    transition: 0.2s;
    cursor: pointer;
    border: 0.5px solid rgb(126, 126, 126);
}

.box {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.box-adicionar {
    box-shadow: 1px 1px 3px grey;
    cursor: pointer;
    background-color: rgb(230, 255, 233);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 2px;
}

.tarefaPronta{
    text-decoration: line-through;
    color: green;
}